<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
        <title>Update {{ stylist.getStylistName }}</title>
    </head>
    <body>
        <div class="container">
            <h2>{{ stylist.getStylistName }}</h2>
            <h4>{{ stylist.getStylistPhoneNumber }}</h4>

            <h5>Edit {{ stylist.getStylistName }}'s info</h5>
<!-- START STYLIST EDIT FORM -->
            <div class="row">
                <form class="col s12" action="/stylist/{{ stylist.getId }}" method="post">
                    <input type="hidden" name="stylist_id" value="{{ stylist.getId }}">
                    <input type="hidden" name="_method" value="patch">
                    <div class="row">
                        <div class="input-field col s6">
                            <label for="name">Stylist's Name</label>
                            <input name="name" type="text" class="validate" value="{{ stylist.getStylistName }}" required>
                        </div>
                        <div class="input-field col s6">
                            <label for="phone_number">Stylist's Phone Number</label>
                            <input name="phone_number" type="tel" class="validate" value="{{ stylist.getStylistPhoneNumber }}" required>
                        </div>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Update</button>
                </form>
            </div>
<!-- END FORM -->
            <p><a href="/">Click here</a> to go back to the homepage or <a href="/stylist/{{ stylist.getId }}">here</a> to go back to {{ stylist.getStylistName }}'s client list.</p>
        </div>
    </body>
</html>
